# Lavalink basic configuration
LAVALINK_PORT=2333
LAVALINK_PASSWORD=changeme

# Lavalink build version
LAVALINK_VERSION=4.1.1

# --- YouTube plugin ---
YOUTUBE_PLUGIN_VERSION=1.13.5
YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=
YOUTUBE_REFRESH_TOKEN=

# --- Pot (YouTube alt plugin) ---
POT_TOKEN=
POT_VISITOR_DATA=

# --- Spotify plugin ---
LAVASRC_PLUGIN_VERSION=4.8.0
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_COUNTRY=US
